*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f28ab2;
    /* color:  hsl(209, 61%, 16%); */
}
.container{
    background-color: white;
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
img{
    width: 200px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}